body {background-color: darkred;}
h1 {border-style: double;}
h2{border-style: double;}
h3{border-style: double;}
#ima2{width: 90%;}

h1{border-color: aliceblue ;}
h2{border-color: aliceblue;}
h3{border-color: aliceblue;}